<div class="container-fluid">
	<div class="col-md-8 col-md-offset-2">
		<h2>Individual contributions</h2>

		<!-- Start of Carro's area -->
		<h4>Caroline Lönn</h4>
		<p>Text</p>
		<!-- end of Carro's area -->


		<!-- Start of Emma's area -->
		<h4>Emma Bäckström</h4>
		<p>Text</p>
		<ul>
			<li>Development (> 20 h)
				<ul>
					<li>Cleaning Nobel laureate data</li>
					<li>Set up of development environment using AngularJS and Node</li>
					<li>Functions for sorting and filtering data for sunburst</li>
					<li>Functions for filtering laureates in sunburst by prize categories on click</li>
					<li>Connecting different parts (controllers) so that they show the same information on different places</li>
				</ul>
			</li>
			<li>Research (~0.5 h)
				<ul>
					<li>Searching for data from World bank</li>
				</ul>
			</li>
			<li>Presentations (~0.5 h)
				<ul>
					<li>Hello world demo</li>
				</ul>
			</li>
			<li>Website (~2 h)
				<ul>
					<li>Building the website using Bootstrap and AngularJS</li>
				</ul>
			</li>
		</ul>
		<!-- end of Emma's area -->


		<!-- Start of Hannes's area -->
		<h4>Hannes Westberg</h4>
		<p>Text</p>
		<!-- end of Hannes's area -->


		<!-- Start of Johanna's area -->
		<h4>Johanna Gustafsson</h4>
		<p>Text</p>
		<!-- end of Johanna's area -->


		<!-- Start of Maria's area -->
		<h4>Maria Westling</h4>
		<p>Text</p>
		<!-- end of Maria's area -->


		<!-- Start of Per's area -->
		<h4>Per Jaakonantti</h4>
		<p>Text</p>
		<!-- end of Per's area -->


		<!-- Start of Simóne's area -->
		<h4>Simóne Stenis Perron</h4>
		<p>Text</p>
		<!-- end of Simóne's area -->


		<!-- Start of Thomas's area -->
		<h4>Thomas von Prouss</h4>
		<p>Text</p>
		<!-- end of Thomas's area -->

	</div>
</div>