<div class="container-fluid">
	<div class="col-md-8 col-md-offset-2">
		<h2>Individual contributions</h2>

		<!-- Start of Carro's area -->
		<h4>Caroline Lönn</h4>
		<p>Text</p>
		<!-- end of Carro's area -->

		<!-- Start of Emma's area -->
		<h4>Emma Bäckström</h4>
		<p>Text</p>
		<!-- end of Emma's area -->

		<!-- Start of Hannes's area -->
		<h4>Hannes Westberg</h4>
		<p>Text</p>
		<!-- end of Hannes's area -->

		<!-- Start of Johanna's area -->
		<h4>Johanna Gustafsson</h4>
		<p>Text</p>
		<!-- end of Johanna's area -->

		<!-- Start of Maria's area -->
		<h4>Maria Westling</h4>
		<p>Text</p>
		<!-- end of Maria's area -->

		<!-- Start of Per's area -->
		<h4>Per Jaakonantti</h4>
		<p>Text</p>
		<!-- end of Per's area -->

		<!-- Start of Simóne's area -->
		<h4>Simóne Stenis Perron</h4>
		<p>Text</p>
		<!-- end of Simóne's area -->

		<!-- Start of Thomas's area -->
		<h4>Thomas von Prouss</h4>
		<p>Text</p>
		<!-- end of Thomas's area -->
	</div>
</div>