<div class="container-fluid">
	<div class="col-md-8 col-md-offset-2">
		<h2>Individual contributions</h2>

		<!-- Start of Carro's area -->
		<h4>Caroline Lönn</h4>
		<p>Text</p>
		<ul>
			<li>Frontend (> 20 h)
				<ul>
					<li>Design and chosen the colour scheme</li>
					<li>Designed the logo</li>
					<li>Helped fix minor buggs</li>
				</ul>
			</li>
			<li>Research (~1.5 h)
				<ul>
					<li>Brainstorming project ideas</li>
					<li>Searching for data we could use to build the project on</li>
				</ul>
			</li>
			<li>Presentations (~11 h)
				<ul>
					<li>Hello world demo</li>
					<li>Edited the final video</li>
				</ul>
			</li>
			<li>Meetings (~15h)
				<ul>
					<li>Physical meetings</li>
					<li>Group chat</li>
					<li>Design discussions</li>
				</ul>
			</li>
		</ul>
		<!-- end of Carro's area -->


		<!-- Start of Emma's area -->
		<h4>Emma Bäckström</h4>
		<ul>
			<li>Development (> 30 h)
				<ul>
					<li>Cleaning Nobel laureate data</li>
					<li>Set up of development environment using AngularJS and Node.js</li>
					<li>Functions for sorting and filtering data for sunburst</li>
					<li>Functions for filtering laureates in sunburst by prize categories on click</li>
					<li>Connecting different parts (controllers) so that they show the same information on different places</li>
					<li>Sunburst legend to explain which layer of the sunburst means what</li>
				</ul>
			</li>
			<li>Research (~0.5 h)
				<ul>
					<li>Searching for data from World bank</li>
				</ul>
			</li>
			<li>Presentations (~3.5 h)
				<ul>
					<li>First presentation</li>
					<li>Final presentation</li>
					<li>Writing text for C Awards</li>
				</ul>
			</li>
			<li>Website (~2 h)
				<ul>
					<li>Building the website using Bootstrap and AngularJS</li>
				</ul>
			</li>
			<li>Meetings (~17 h)
				<ul>
					<li>Real meetings</li>
					<li>Group Chat</li>
					<li>Preparing for meetings</li>
					<li>Encouraging meetings and making doodle polls to find a time where as many people as possible can make it</li>
				</ul>
			</li>
		</ul>
		<!-- end of Emma's area -->


		<!-- Start of Hannes's area -->
		<h4>Hannes Westberg</h4>
		<ul>
			<li>Backend Development (> 35 h)
				<ul>
					<li>Added initial data extraction functions from nobel data files using callbacks</li>
					<li>Added functions to sort and filter data to the chord diagram, with gender and age</li>
					<li>Helped merge different development branches</li>
					<li>Refactored and bugfixed code before Hello World Demo</li>
					<li>Refactored data loading using smarter callbacks</li>
					<li>Added wikipedia API calls that returns a wiki extract and a picture of a searched laureate</li>
				</ul>
			</li>
			<li>Research (~3 h)
				<ul>
					<li>Searching for relevant information to visualize on the globe</li>
				</ul>
			</li>
			<li>Data (~6 h)
				<ul>
					<li>Combining similar data from different sources to form a more complete set</li>
					<li>Wrote a script that combines this data</li>
					<li>Added 8 datasets to visualize on the globe</li>
				</ul>
			</li>
			<li>Website (~0.5 h)
				<ul>
					<li>Minor adjustments with the addition of wikipedia calls</li>
				</ul>
			</li>
			<li>Meetings (~15 h)
				<ul>
					<li>Real meetings</li>
					<li>Group Chat</li>
					<li>Preparing for meetings</li>
				</ul>
			</li>
		</ul>
		<!-- end of Hannes's area -->


		<!-- Start of Johanna's area -->
		<h4>Johanna Gustafsson</h4>
		<ul>
			<li>Frontend Programming (> 40 h)
				<ul>
					<li>Developing the globe.</li>
					<li>Functions that allows the globe and sunburst to talk to each other (API).</li>
					<li>Visualizing the chosen data set on the globe (setting colors).</li>
					<li>Dropdown menu for country selection.</li>
					<li>Adding tooltips to the globe, as well as adding its corresponding data.</li>
					<li>Learning JavaScript.</li>
					<li>Learning D3.js.</li>
				</ul>
			</li>
			<li>Research (~ 3 h)
				<ul>
					<li>Finding ways to visualize data.</li>
					<li>Searching for useful, related geographical projections in D3.</li>
				</ul>
			</li>
			<li>Meetings (~15 h)
				<ul>
					<li>Real meetings.</li>
					<li>Group Chat.</li>
					<li>Preparing for/summary after meetings.</li>
				</ul>
			</li>
		</ul>

		<!-- end of Johanna's area -->


		<!-- Start of Maria's area -->
		<h4>Maria Westling</h4>
		<ul>
			<li>Development (~ 50 h)
				<ul>
					<li>Page setup for sunburst/chord</li>
					<li>Setting up sunburst w data and additional sunburst related functions (i.e. generating colors, transitions, highlighting etc)</li>
					<li>Sunburst-globe functionality (getting them to work together and having one’s events to impact the other)</li>
					<li>Time slider updating the sunbursts data</li>
					<li>Information button on sunburst/chord pages + text for sunburst</li>
				</ul>
			</li>
			<li>Research (~ 3 h)
				<ul>
					<li>Research for initial data during start on the project (however this was not used in the end as we changed idea)</li>
				</ul>
			</li>
			<li>Meetings (~ 15 h)
				<ul>
					<li>Physical meetings</li>
					<li>Group chat</li>
					<li>Encouraging meetings</li>
					<li>Fixed meeting doodle</li>
				</ul>
			</li>
			<li>Learning
				<ul>
					<li>d3.js</li>
					<li>JavaScript</li>
					<li>AngularJS</li>
				</ul>
			</li>
		</ul>
		<!-- end of Maria's area -->


		<!-- Start of Per's area -->
		<h4>Per Jaakonantti</h4>
		<ul>
			<li>Frontend Programming (> 40 h)
				<ul>
					<li>Use existing Chord Diagram and changing it.</li>
					<li>Adding Animation.</li>
					<li>Re-writing for different datasets.</li>
					<li>Adding information about random individual winners.</li>
					<li>Learning JavaScript.</li>
					<li>Learning AngularJS.</li>
				</ul>
			</li>
			<li>Research (5 h)
				<ul>
					<li>Finding ways to visualize data.</li>
					<li>Finding suitable Chord Diagram to use.</li>
				</ul>
			</li>
			<li>Presentations (~3 h)
				<ul>
					<li>First presentation.</li>
					<li>Final presentation.</li>
				</ul>
			</li>
			<li>Meetings (~15 h)
				<ul>
					<li>Real meetings.</li>
					<li>Group Chat.</li>
					<li>Preparing for meetings.</li>
				</ul>
			</li>
		</ul>
		<!-- end of Per's area -->


		<!-- Start of Simóne's area -->
		<h4>Simóne Stenis Perron</h4>
		<p>Text</p>
		<!-- end of Simóne's area -->


		<!-- Start of Thomas's area -->
		<h4>Thomas von Prouss</h4>
		<ul>
			<li>Programming (~7h)
				<ul>
					<li>First live demo design</li>
					<li>First code structure implementation</li>
					<li>Final website front-end refinement</li>
				</ul>
			</li>
			<li>Meetings (~13h)
				<ul>
					<li>Physical meetings</li>
					<li>Group chat</li>
					<li>Design discussions</li>
				</ul>
			</li>
			<li>Research / API exploration (~3h)
				<ul>
					<li>World Bank exploration</li>
					<li>D3 exploration</li>
					<li>D3 plugin compatibility research</li>
				</ul>
			</li>
			<li>Presentations (~1.5h)</li>
				<ul>
					<li>First presentation</li>
				</ul>
			</li>
			<li>Not yet finished</li>
		</ul>
		<!-- end of Thomas's area -->

	</div>
</div>
