<div class="container-fluid">
		<div class="col-md-8 col-md-offset-2">
			<h2>What is {{projectTitle}}?</h2>

			<p>Lorem ipsum</p>
			
			<a class="btn btn-default" target="_blank" ng-href="{{projectLink}}">View project</a>
			<a class="btn btn-default" target="_blank" ng-href="{{projectGithub}}">View on Github</a>

			<h2>Technologies used</h2>
			<ul>
				<li>JavaScript & jQuery</li>
				<li>D3</li>
				<li>AngularJS</li>
				<li>Bootstrap</li>
			</ul>

			<h2>Lessons learned</h2>
			<ul>
				<li>Finding and cleaning/structuring relevant and useful data</li>
				<li>Coding Javascript and using D3</li>
				<li>Coordinating work in a larger group</li>
				<li>Working with git</li>
			</ul>

			<h2>The team</h2>
			<div class="row">
				<div class="col-xs-6 col-sm-3 groupMember" ng-repeat="member in groupMembers">
					<div class="picture" style="background-image: url('{{member.img}}');"></div>
					
					<h5>{{member.name}}</h5>
					<p>{{member.role}}</p>
					<p class="col-xs-12 text-center social-links">
						<a ng-if="member.github" ng-href="{{member.github}}"><i class="fa fa-github" aria-hidden="true"></i></a>
						<a ng-if="member.linkedin" ng-href="{{member.linkedin}}"><i class="fa fa-linkedin" aria-hidden="true"></i></a>
					</p>
				</div>
			</div>
			<div class="row">
				<div class="col-md-12">
					<p class="text-center"><a href="/#/contribution">Individual contribution</a></p>
				</div>
			</div>
		</div>
	</div>
